<div class="pic-height">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://www.barclays.co.uk/content/dam/lifestyle-images/business/business-insight/niles_bakery_16_9.large.medium_quality.jpg"
          alt="banner"
          width="100%"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://www.barry-callebaut.com/sites/default/files/styles/full_screen/public/2021-09/Shiny-sprinkles-donuts%20%281%29_0.jpg?itok=EwyRFU0Q"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://assets-eu-01.kc-usercontent.com/559bb7d3-88a4-01c1-79a3-dd4d5b2d2bb0/18cb6cf1-1105-4cc3-abcf-448435ee9291/Mary%20Berry%20Chocolate%20Cupcakes%20%20(14).jpg?w=3840&q=85&auto=format&lossless=1"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://s3-us-west-1.amazonaws.com/contentlab.studiod/getty/c8e6978eb523441eada63a5279ccde55.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- <% for(var i=0;i<products.length;i++) {%>
  <div class="row">
    <div class="col-12"><h3><%=products[i].name %></h3></div>
    <div class="col-8">
      <p class="pl-2">
        <img
          src="/images/uploaded/<%=products[i].image %>"
          alt=""
          style="float: left; padding: 10px"
          width="200px"
        /><%=products[i].description %>
      </p>
    </div>
    <div class="col-4">
      <a href="/add-cart/<%=products[i]._id %>" class="btn btn-info w-full"
        >Add To Cart</a
      >
      <dl>
        <dt>Price</dt>
        <dd><%=products[i].price %></dd>
        <dt>Color</dt>
        <dd><%=products[i].color %></dd>
        <dt>Department</dt>
        <dd><%=products[i].department %></dd>
      </dl>
    </div>
  </div>
  <% } %>
</products.length;i++)> -->

<!-- -------------------------------------------------------------------------------- -->

<marquee scrollamount="6" class="light-theme sticky my-font-2">
 
  "A place where calories don't count and happiness is served by the slice!"
</marquee>

<div class="heading my-font">Our Popular Yums</div>
<div class="subheading">
  Delicious treats that everyone loves
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    fill="currentColor"
    class="bi bi-balloon-heart-fill"
    viewBox="0 0 16 16"
  >
    <path
      fill-rule="evenodd"
      d="M8.49 10.92C19.412 3.382 11.28-2.387 8 .986 4.719-2.387-3.413 3.382 7.51 10.92l-.234.468a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2.376 2.376 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.235-.468ZM6.726 1.269c-1.167-.61-2.8-.142-3.454 1.135-.237.463-.36 1.08-.202 1.85.055.27.467.197.527-.071.285-1.256 1.177-2.462 2.989-2.528.234-.008.348-.278.14-.386Z"
    />
  </svg>
</div>

<div id="bakery-recipes">
  <div class="recipe-column">
    <img
      src="https://s3.envato.com/files/341063340/AS13542.jpg"
      alt="Apple pie"
    />
    <h2 class="my-font">
      Apple pie
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        fill="currentColor"
        class="bi bi-chat-square-heart"
        viewBox="0 0 16 16"
      >
        <path
          d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12ZM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Z"
        />
        <path
          d="M8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"
        />
      </svg>
    </h2>
    <p>Instructions:</p>
    <ol>
      <li>
        Preheat the oven to 425째F (220째C). Roll out one half of the dough on a
        lightly floured surface to fit a 9-inch pie dish. Transfer the dough to
        the pie dish and trim the edges.
      </li>
      <li>
        In a separate mixing bowl, combine the sliced apples, sugar, cinnamon,
        and nutmeg. Toss until the apples are evenly coated. Transfer the apple
        mixture to the pie dish and dot with butter.
      </li>
      <li>
        Roll out the second half of the dough and place it on top of the apples.
        Trim the edges and seal them with the bottom crust.
      </li>
    </ol>
  </div>
  <div class="recipe-column">
    <!-- <img src="https://thumbs.dreamstime.com/b/fruit-chocolate-birthday-cake-white-background-fruit-chocolate-birthday-cake-white-background-113735538.jpg" alt="Macaron"> -->
    <img
      src="https://img.freepik.com/premium-photo/chocolate-chip-cookies-white-background_146936-853.jpg?w=2000"
      alt="Macaron"
    />

    <h2 class="my-font">
      Cookies
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        fill="currentColor"
        class="bi bi-balloon-heart"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="m8 2.42-.717-.737c-1.13-1.161-3.243-.777-4.01.72-.35.685-.451 1.707.236 3.062C4.16 6.753 5.52 8.32 8 10.042c2.479-1.723 3.839-3.29 4.491-4.577.687-1.355.587-2.377.236-3.061-.767-1.498-2.88-1.882-4.01-.721L8 2.42Zm-.49 8.5c-10.78-7.44-3-13.155.359-10.063.045.041.089.084.132.129.043-.045.087-.088.132-.129 3.36-3.092 11.137 2.624.357 10.063l.235.468a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3.177 3.177 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.235-.468ZM6.013 2.06c-.649-.18-1.483.083-1.85.798-.131.258-.245.689-.08 1.335.063.244.414.198.487-.043.21-.697.627-1.447 1.359-1.692.217-.073.304-.337.084-.398Z"
        />
      </svg>
    </h2>
    <p>Instructions:</p>
    <ol>
      <li>
        Preheat the oven to 300째F (150째C). Line a baking sheet with parchment
        paper.
      </li>
      <li>
        In a medium mixing bowl, whisk together the almond flour, confectioners'
        sugar, and salt. Set aside.
      </li>
      <li>
        In the bowl of a stand mixer fitted with the whisk attachment, beat the
        egg whites on medium speed until foamy. Add the cream of tartar and
        continue beating until stiff peaks form. Gradually add the granulated
        sugar and beat until glossy and stiff peaks form.
      </li>
    </ol>
  </div>
  <div class="recipe-column">
    <!--
     <img src="https://img.freepik.com/premium-photo/sweet-tasty-donuts-white_392895-27490.jpg?w=2000" alt="Donut"> -->
    <!-- <img src="https://media.istockphoto.com/id/477053192/photo/chocolate-cupcake.jpg?s=612x612&w=0&k=20&c=hsQJxRXbkcfunhq6Y58aTYzrhPheX8nWOYm71zis19A=" alt="Donut"> -->
    <img
      src="https://thumbs.dreamstime.com/b/french-colorful-macarons-pastel-white-background-pink-brown-macaron-113433386.jpg"
      alt="Donut"
    />
    <h2 class="my-font">
      macaron
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        fill="currentColor"
        class="bi bi-arrow-through-heart"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l.53-.53c-.771-.802-1.328-1.58-1.704-2.32-.798-1.575-.775-2.996-.213-4.092C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182a21.86 21.86 0 0 1-2.685-2.062l-.539.54V14a.5.5 0 0 1-.146.354l-1.5 1.5Zm2.893-4.894A20.419 20.419 0 0 0 8 12.71c2.456-1.666 3.827-3.207 4.489-4.512.679-1.34.607-2.42.215-3.185-.817-1.595-3.087-2.054-4.346-.761L8 4.62l-.358-.368c-1.259-1.293-3.53-.834-4.346.761-.392.766-.464 1.845.215 3.185.323.636.815 1.33 1.519 2.065l1.866-1.867a.5.5 0 1 1 .708.708L5.747 10.96Z"
        />
      </svg>
    </h2>
    <p>Instructions:</p>
    <ol>
      <li>
        In a small mixing bowl, whisk together the warm milk, sugar, and yeast.
        Let the mixture sit for 5-10 minutes, or until it becomes frothy.
      </li>
      <li>
        In the bowl of a stand mixer fitted with the dough hook attachment,
        combine the flour, salt, and nutmeg. Add the yeast mixture and mix on
        low speed until a soft dough forms. Increase the speed to medium and
        continue mixing for 3-4 minutes, or until the dough is smooth and
        elastic.
      </li>
      <li>
        Lightly oil a large mixing bowl and place the dough in the bowl. Cover
        the bowl with a kitchen towel.
      </li>
    </ol>
  </div>
</div>
